/* ========== HIDE NEW PAGE BUTTON ========== */
.notion-sidebar > :nth-child(7) {
  display: none !important;
}

/* ========== SMALLER PAGE ICONS ========== */

/* Place icon relative to the title container */
.notion-scroller[style*="display: flex; flex-direction: column"] > :first-child:not([style*="sticky"]) > :last-child {
    position: relative;
}

/* Set icon size */
.notion-scroller[style*="display: flex; flex-direction: column"] > :first-child:not([style*="sticky"]) .notion-record-icon {
    width: 38px !important;
    height: 38px !important;
}
.notion-scroller[style*="display: flex; flex-direction: column"] > :first-child:not([style*="sticky"]) .notion-record-icon * {
    width: 100% !important;
    height: 100% !important;
}

/* Icon placement */
.notion-scroller[style*="display: flex; flex-direction: column"] > :first-child:not([style*="sticky"]) .notion-record-icon {
    position: absolute !important;
    margin: 0 !important;
    top: 45px;
}

/* Emoji icon */
.notion-scroller[style*="display: flex; flex-direction: column"] > :first-child:not([style*="sticky"]) .notion-record-icon [style*="font-size: 78px"] {
    font-size: 38px !important;
}

/* Push page title to the right */
.notion-record-icon + .notion-page-controls + .notion-page-block {
    margin-left: 52px;
}

/* Remove space on top of the page when no icon or cover is set  */
.notion-page-controls[style*="margin-top: 80px"] {
    margin-top: 8px !important;
}

/* ========== MINIFY BREADCRUMBS AND TOPBAR BUTTONS ========== */

/* Hide Share, Update, Favorite Buttons */
.notion-topbar-actions> :not(:last-child) {
  display: none !important;
}
/* Remove icon margin */
.notion-topbar-breadcrumb [role="button"] .notion-record-icon {
  margin-right: 0 !important;
}
/* Absolutely position page title */
.notion-topbar-breadcrumb .notion-selectable:hover {
  z-index: 999;
}
.notion-topbar-breadcrumb [role="button"] {
  position: relative;
}
.notion-topbar-breadcrumb [role="button"] .notion-record-icon+div {
  background: var(--theme--interactive_hover);
  height: 24px;
  padding: 0 6px;
  border-radius: 3px;
  position: absolute;
  left: 26px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
/* Title transition */
.notion-topbar-breadcrumb [role="button"] .notion-record-icon+div {
  transition: opacity 20ms ease-in, max-width 300ms ease-in !important;
}
/* Hide title when not hovered */
.notion-topbar-breadcrumb [role="button"]:not(:hover) .notion-record-icon+div {
  opacity: 0;
  max-width: 0px !important;
}
/* Show title when hovered */
.notion-topbar-breadcrumb [role="button"]:hover .notion-record-icon+div {
  opacity: 1;
}
/* Transition delay when hovered */
.notion-topbar-breadcrumb [role="button"]:hover .notion-record-icon, .notion-topbar-breadcrumb [role="button"]:hover .notion-record-icon+div {
  transition-delay: 200ms !important;
}

/* ========== EMBED ENHANCEMENTS ========== */
iframe {
  background-color: #282a36 !important;
}

/* ========== HIDE '+ NEW' TABLE ROW ========== */
/* .notion-table-view-add-row {
  display: none !important;
}
*/

/* ========== HIDE '+' TABLE COLUMN ========== */
.notion-table-view-add-column {
   display: none !important;
}
.notion-selectable.notion-page-block.notion-collection-item > div:last-child {
   display: none !important;
}

/* ========== HIDE CALCULATIONS TABLE ROW ========== */
.notion-table-view-add-row + div {
  display: none !important;
}

/* ========== REMOVING/DECREASING SIDE PADDING FOR TABLES ========== */
[style^='flex-shrink: 0; flex-grow: 1; width: 100%; max-width: 100%; display: flex; align-items: center; flex-direction: column; font-size: 16px; color: rgba(255, 255, 255, 0.9); padding: 0px 96px 30vh;']
  .notion-table-view,
[class='notion-scroller'] > .notion-table-view {
  padding-left: 35px !important;
  padding-right: 15px !important;
  min-width: 0% !important;
}
[style^='flex-shrink: 0; flex-grow: 1; width: 100%; max-width: 100%; display: flex; align-items: center; flex-direction: column; font-size: 16px; color: rgba(255, 255, 255, 0.9); padding: 0px 96px 30vh;']
  .notion-selectable
  .notion-scroller.horizontal::-webkit-scrollbar-track {
  margin-left: 10px;
  margin-right: 10px;
}

